
.loader {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 10px;
}

.loader2 {
  height: 20px;
  width: 30px;
  animation: loader2 2s linear infinite;
}
.loader2:before,
.loader2:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #efdfff;
  transform-origin: 50% 50%;
}
.loader2:before {
  transform: translate(0);
  animation: loader2-part 1.5s linear infinite;
}
.loader2:after {
  transform: translate(20px);
  animation: loader2-part2 1.5s linear infinite;
}

@keyframes loader2 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader2-part {
  from {
    transform: translate(0);
  }
  25% {
    transform: translate(5px);
    animation-timing-function: cubic-bezier(1,0,.51,1.58);
  }
  50% {
    transform: translate(10px) scale(1.6);
    animation-timing-function: ease-in;
  }
  75% {
    transform: translate(5px);
  }
}
@keyframes loader2-part2 {
  from {
    transform: translate(20px);
  }
  25% {
  	transform: translate(15px);
    animation-timing-function: cubic-bezier(1,0,.51,1.58);
  }
  50% {
    transform: translate(10px) scale(1.6);
    animation-timing-function: ease-in;
  }
  75% {
    transform: translate(15px);
  }
}